body {
    padding: 2rem 4rem;
}

header {
    margin: 0 auto;
    text-align: center;
}

main {
    margin: 0 auto;
    text-align: center;
}

main img {
    max-width: 250px;
    max-height: 250px;
}